// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search-label {
    text-align: center;
}

#results-list {
    padding: 0px;
}

.result-container {
    border-radius: 4px;
    border: 1px solid #c8c8c8;
    min-height: 175px;
    margin-top: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    &:hover {
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
    }
}

.result-header {
    padding-left: 20px;
    padding-top: 1px;
    h3 {
        margin-top: 15px;
    };
}

.result-description {
    min-height: 85px;
    h4 {
        margin-right: 20px;
        img {
            margin-top: 0px;
            object-fit: cover;
            height: 100px;
            width: 100px;
        }
    }
}

.highlight {
    background-color: yellow;
}

.toggle {
    width: 100px;
}
