// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag {
    border-radius: 16px;
    padding: 3px 6px;
    font-size: 13px;
    line-height: 27px;
    display: inline-block;
    height: 25px;
    color: rgba(0,0,0,0.6);
    padding: 0 12px;
    background-color: #E4E4E4;
}
