<div class="component component-image">
  <%= cl_image_tag(component.content,
                   :class => "img-responsive",
                   :height => 500,
                   :crop => :limit) %>
</div>
