<div class="form-component-sample form-component-sample-video" kind="video">
  <input type="hidden" class="hidden-input">
  <div class="form-group">
    <div style='display: inline-block'>
      <label><%= t("content_type.video") %></label>
      <div class="components-buttons">
        <span class="component-button glyphicon glyphicon-remove rm-component-button"></span>
      </div>
    </div>
    <input class="form-control" kind="video" placeholder="<%= t("components.video.placeholder") %>">
  </div>
</div>
